<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Add user</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <h1 align="center">Edit product</h1>
        <form action="/product/edit/" method="POST">
            <div class="form-group">
                <input type="hidden" name="id" value="${product.id}"/>
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" required name="name" value="${product.name}">
                <label for="inputDescription">Description</label>
                <input type="text" class="form-control" id="inputDescription" required name="description"value="${product.description}">
                <label for="inputPrice">Price</label>
                <input type="number" class="form-control" id="inputPrice" step=".01" min="0" value="${product.price}" name="price">
                <br>
                <input type="submit" class="btn btn-dark" value="Save">
            </div>
        </form>
    </body>
</html>

